# Function
### print ชื่อ xxx นามสกุล YYY รหัส ZZZ
### print เกรด วิชา stat1 >>> AAA

In [3]:
a = 'ชื่อ วิภาวดี แก้วดวงดี รหัส 000'
print (a)

ชื่อ วิภาวดี แก้วดวงดี รหัส 000

In [7]:
name = 'วิภาวดี'
surname='แก้วดวงดี'
ID='009'
b = f'ชื่อ {name} นามสกุล{surname} รหัส {ID}'
print (b)

ชื่อ วิภาวดี นามสกุลแก้วดวงดี รหัส 009

### Functiontemplate

```python
def function_name(x):
    do_something
    return y

### normail function

In [8]:
def print_line1(name1,surname1,ID1):
    st = f'ชื่อ {name1} นามสกุล{surname1} รหัส {ID1}'
    return st

In [10]:
print(print_line1('วิภาวดี','แก้วดวงดี','603021112-8'))

ชื่อ วิภาวดี นามสกุลแก้วดวงดี รหัส 603021112-8

### ฟังก์ชั่นที่ปริ้น 2 line และ 4 line

### function without output

In [15]:
def print_2lines(name1,surname1,ID1,grade):
    st = f'ชื่อ {name1} นามสกุล{surname1} รหัส {ID1}'
    print (st)
    st2 = f'เกรดวิชา stat1 >>> {grade}'
    print(st2)

In [17]:
print_2lines('วิภาวดี','แก้วดวงดี','603021112-8','A')

ชื่อ วิภาวดี นามสกุลแก้วดวงดี รหัส 603021112-8
เกรดวิชา stat1 >>> A

In [20]:
def print_4lines(name1,surname1,ID1,grade):
    st = f'ชื่อ {name1} นามสกุล{surname1} รหัส {ID1}'
    print (st)
    st2 = f'เกรดวิชา stat1 >>> {grade}'
    print(st2)

In [22]:
print_4lines('วิภาวดี','แก้วดวงดี','603021112-8','A')
print_4lines('พุธิตา','เจือจันทร์','603021879-8','A')
print_4lines('กรรณิกา','วิรัชวา','603020904-0','A')
print_4lines('ปิยาพร','อุตรนคร','603021873-0','A')

ชื่อ วิภาวดี นามสกุลแก้วดวงดี รหัส 603021112-8
เกรดวิชา stat1 >>> A
ชื่อ พุธิตา นามสกุลเจือจันทร์ รหัส 603021879-8
เกรดวิชา stat1 >>> A
ชื่อ กรรณิกา นามสกุลวิรัชวา รหัส 603020904-0
เกรดวิชา stat1 >>> A
ชื่อ ปิยาพร นามสกุลอุตรนคร รหัส 603021873-0
เกรดวิชา stat1 >>> A

#### function without input
     ฟังก์ชั่นที่ไม่มี input output แค่ตัด return ออก

In [23]:
def two_x_three():
    x = 2*3
    return x

In [25]:
 two_x_three()

6

### Function with deault argument 
มี input เป็นตัวดีฟอ ถ้าไม่ใส่ค่านั้นก็จะใส่ค่า F ให้

In [28]:
def print_4lines(name1,surname1,ID1,grade='F'):
    st = f'ชื่อ {name1} นามสกุล{surname1} รหัส {ID1}'
    print (st)
    st2 = f'เกรดวิชา stat1 >>> {grade}'
    print(st2)

In [29]:
print_4lines('วิภาวดี','แก้วดวงดี','603021112-8',)

ชื่อ วิภาวดี นามสกุลแก้วดวงดี รหัส 603021112-8
เกรดวิชา stat1 >>> F

In [30]:
print_4lines('วิภาวดี','แก้วดวงดี','603021112-8','A')

ชื่อ วิภาวดี นามสกุลแก้วดวงดี รหัส 603021112-8
เกรดวิชา stat1 >>> A

In [31]:
print_4lines(surname1 = 'วิภาวดี',name1 = 'แก้วดวงดี',ID1 = '603021112-8')

ชื่อ แก้วดวงดี นามสกุลวิภาวดี รหัส 603021112-8
เกรดวิชา stat1 >>> F

# Loop วนซ้ำ

```Python
for each_member in listA:
    do something
 ```

In [32]:
for i in [1,2,3]:
    print(i)

1
2
3

In [35]:
for i in 'Wipawadee':
    print(f'{i} -> /')
    print(' ')

W -> /

i -> /

p -> /

a -> /

w -> /

a -> /

d -> /

e -> /

e -> /

## 1 สร้างlist ชื่อ เพื่อนที่อยู๋ในแถวเดียวกัน แล้ว
## 2 วนลูป print คำประโยคว่า ชื่อเรา รัก เพื่อน

In [69]:
list_f = ['min','bird','dew','ai','kwan']
print (list_a)

['min', 'bird', 'dew', 'ai', 'kwan']

In [70]:
def print_feeling(I,feeling,friend):
    print(f'{I} {feeling} {friend}')

In [71]:
print_feeling('earn','love','min')

earn love min

In [72]:
for f in list_f :
    print_feeling('earn','love',f)

earn love min
earn love bird
earn love dew
earn love ai
earn love kwan

# Loop in Loop

In [87]:
for name1 in list_f:
    for name2 in list_f:
        print_feeling(name1,'love',name2)

min love min
min love bird
min love dew
min love ai
min love kwan
bird love min
bird love bird
bird love dew
bird love ai
bird love kwan
dew love min
dew love bird
dew love dew
dew love ai
dew love kwan
ai love min
ai love bird
ai love dew
ai love ai
ai love kwan
kwan love min
kwan love bird
kwan love dew
kwan love ai
kwan love kwan

#### loop in function

In [77]:
def print_feelings(I,feeling,friends):
    for friend in friends:
        print(f'{I} {feeling} {friend}')

In [78]:
print_feelings('earn','love',list_f)

earn love min
earn love bird
earn love dew
earn love ai
earn love kwan

### Looping in dict

In [81]:
name_grade = {'วิภาวดี':'B','ศุภนิตา':'C','ปนัดดา':'A','ทรงกลด':'F'}
name_grade

{'วิภาวดี': 'B', 'ศุภนิตา': 'C', 'ปนัดดา': 'A', 'ทรงกลด': 'F'}

In [82]:
name_grade['ปนัดดา']

'A'

## list คำสั่งของindex โดยใช้คำสั่ง .keys

In [83]:
for i in name_grade.keys():
    print(i)

วิภาวดี
ศุภนิตา
ปนัดดา
ทรงกลด

In [84]:
for i in name_grade.keys():
    print(f'{i} ได้เกรด{name_grade[i]}')

วิภาวดี ได้เกรดB
ศุภนิตา ได้เกรดC
ปนัดดา ได้เกรดA
ทรงกลด ได้เกรดF

# conditional

```python
if conditional:
    do something
elif conditional2:
    do another think
else:
    do...

```

In [90]:
for name1 in list_f:
    for name2 in list_f:
        if name1 != name2:
           print_feeling(name1, 'love' ,name2)

min love bird
min love dew
min love ai
min love kwan
bird love min
bird love dew
bird love ai
bird love kwan
dew love min
dew love bird
dew love ai
dew love kwan
ai love min
ai love bird
ai love dew
ai love kwan
kwan love min
kwan love bird
kwan love dew
kwan love ai

In [93]:
if True:
    print( 'Yes' )

Yes

In [94]:
if False:
    print('No')

In [95]:
if False:
    print('Yes')
else:
    print('No')

No

In [96]:
1==1

True

In [97]:
if 1==1:
    print('1=1')

1=1

## == ,!=,>=,<=,<,>

## การบ้าน เขียนฟังก์ชั่นตัดเกรด(ใช้if ธรรมดา)โดยที่ input เป็นคะแนน(0-100) output เป็นเกรด(F-A)
input = 
ตามของมัธยม 1,50,65,90,101,-5,49